.battle__frame {

    box-sizing: content-box;
    width: 600px;
    margin: 15px auto auto;
    padding: 15px;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    color: rgba(245,245,245,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 2px;
    background: rgb(74, 54, 54);
    box-shadow: 3px 3px 8px 2px rgba(201,112,112,0.4) ;
}